html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #686868;;
    color: #EDB62B;
    margin: 0px;
}

.form-logo-nav{
    position: absolute;
    width: 70px;
    top: 10px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #EDB62B;
    border-radius: 50%;
    overflow: hidden;
}

.img_nav {
    position: absolute;
    width: 65px;
    top: -5px;
    left: -6px;
}

.items-nav{
    position: relative;
    left: 40px;
    font-weight: bolder;
    font-size: 15px;
    color: #EDB62B;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}

.btn-open-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkgrey;
    display: block;
    background-color: black;
    padding: 20px 50px;
    border-radius: 50px;
}

.container-all {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

.container-all:target {
    background: rgba(0, 0, 0, 8) ;
    visibility: visible;
    opacity: 1;


}

.container-all:target .popup{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;


}


.popup {
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    background: white;
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%,230%);
    transition: all 600ms ;
}



.container-text {
    width: 100%;
    padding: 50px;
    overflow-y: auto;
}

.container-text h1{
    font-size: 30px;

}

.container-text p{
    margin-top: 20px;
    font-size: 16px;
}

.button-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px; 
    top: -20px;
    padding: 20px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
}
