html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #686868;
    color: #EDB62B;
    margin: 0px;
}

.h1AddMember {
    border-bottom: 2px solid #EDB62B;
    padding-bottom: 15px;
}

.FormDelete {
    background-color: #282930;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    width: 450px;
    border: 3px solid #EDB62B;
    padding: 15px;
    border-radius: 10px;
}

.FormDelete label {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.FormDelete label p {
    width: 110px;
    text-align: right;
    margin-bottom: 22px;
}

.FormDelete label input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 22px;
}

.h1DeleteMember{
    padding-bottom: 20px;
}

.form-logo-nav {
    position: absolute;
    width: 70px;
    top: 10px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #EDB62B;
    border-radius: 50%;
    overflow: hidden;
}

.img_nav {
    position: absolute;
    width: 65px;
    top: -5px;
    left: -6px;
}

.items-nav {
    position: relative;
    left: 40px;
    font-weight: bolder;
    font-size: 15px;
    color: #EDB62B;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}

.inputDelete {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
}

.divFormLogo {
    position: relative;
    margin: 0 auto;
    width: 126px;
    height: 121px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img {
    position: absolute;
    width: 150px;
    top: -10px;
    left: -10px;
}

.SearchButton {
    position: relative;
    top: -13px;
    left: -5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 5px 5px;
    color: #000000;
    background: #ffffff;
    cursor: pointer;
}

.imgSearch {
    position: relative;
    width: 36px;
    top: -6px;
    left: -7px;
}

nav {
    background-color: #282930;
    text-align: left;
    padding: 25px;
    margin: auto;
}

.form-logo-nav {
    position: absolute;
    width: 70px;
    top: 10px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #EDB62B;
    border-radius: 50%;
    overflow: hidden;
}

.img_nav {
    position: absolute;
    width: 65px;
    top: -5px;
    left: -6px;
}

.items-nav {
    position: relative;
    left: 40px;
    font-weight: bolder;
    font-size: 15px;
    color: #EDB62B;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}
