html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #686868;;
    color: #EDB62B;
    margin: 0px;
}

.form-logo{
    position: relative;
    margin: 0 auto;
    width: 126px;
    height: 121px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.img {
    position: absolute;
    width: 150px;
    top: -10px;
    left: -10px;
}

.h1ForgotPassword {
    border-bottom: 2px solid #EDB62B;
    padding-bottom: 15px;
}

.FormForgotPassword {
    background-color: #282930;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    width: 450px;
    border: 3px solid #EDB62B;
    padding: 15px;
    border-radius: 10px;
}

.FormForgotPassword label {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.FormForgotPassword label p {
    width: 110px;
    text-align: right;
}

.FormForgotPassword label input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
}

.inputSend {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
}

.h1NeedHelp{
    color: #ffffff;
    font-size: 10px;
}
