html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.bodyLogin {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #686868;
    color: #EDB62B;
}

.FormLogin {
    background-color: #282930;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    width: 450px;
    border: 3px solid #EDB62B;
    padding: 15px;
    border-radius: 10px;
}

.divFormLogo {
    position: relative;
    margin: 0 auto;
    width: 126px;
    height: 121px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.img {
    position: absolute;
    width: 150px;
    top: -10px;
    left: -10px;
}

.h1Login {
    border-bottom: 2px solid #EDB62B;
    padding-bottom: 15px;
}

.FormLogin label {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.FormLogin label p {
    width: 110px;
    text-align: right;
}

.FormLogin label input {
    width: 50%;
    height: 30px;
    border-radius: 5px;
}

.inputLogin {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
}

.FormLogin a {
    font-size: 15px;
}

.divButtonsFacebookGoogle{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.divRememberMe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pRememberMe{
    font-size: 12px;
}
.imgGoogle {
    width: 45px;
}

.imgFacebook {
    position: relative;
    width: 45px;
}

.aSignUp{
    color: #ffffff;
}
.aForgotPassword{
    color: #ffffff;
}