/* *{
    border: 1px solid black;
} */

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:  black;
    margin: 0px;
}

.title {
    color: #EDB62B; ;
    text-align: center;
    margin: 0px;
    font-size:100px;
    
}

.form-logo{
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: #EDB62B;
    border-radius: 50%;
    overflow: hidden;
}

.form-logo-nav{
    position: absolute;
    width: 70px;
    top: 10px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #EDB62B;
    border-radius: 50%;
    overflow: hidden;
}

.img {
    position: absolute;
    width: 500px;
    top: -35px;
    left: -40px;
}

.img_nav {
    position: absolute;
    width: 65px;
    top: -5px;
    left: -6px;

}

.items-nav{
    position: relative;
    left: 40px;
    font-weight: bolder;
    font-size: 15px;
    color: #EDB62B;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}

.logo{
    padding: 20px;
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 10px;
}

header{
    text-align: center;
    
}

nav{
    background-color: #282930;
    text-align: left;
    padding: 25px;
    margin: auto;
}