html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #304673;
    color: white;
}

.FormResetPassword {
    background-color: #1D2C4F;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    width: 450px;
    border: 5px solid #1D2C4F;
    padding: 15px;
}
.form-logo{
    position: relative;
    margin: 0 auto;
    width: 126px;
    height: 121px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.img {
    position: absolute;
    width: 150px;
    top: -10px;
    left: -10px;
}

.h1ResetPassword {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 15px;
}

.FormResetPassword label {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.FormResetPassword label p {
    width: 110px;
    text-align: left;
}

.FormResetPassword label input {
    width: 100%;
    height: 30px;
}

.FormResetPassword label input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }