html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: darkgrey;
    color: #0D0D0D;
}


.h1ResetPassword {
    border-bottom: 1px solid #0D0D0D;
    padding-bottom: 5px;
    border-radius: 50%;
}


.FormResetPassword label {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.FormResetPassword label p {
    width: 110px;
    text-align:right;
}

.FormResetPassword label input {
    width: 50%;
    height: 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 6px solid #0D0D0D;
    border-radius: 20%;
    
}

